= form_for [ @wallpaper, @wallpaper.comments.build ], local: true do |f|
  .row
    .col-auto
      = f.label :text, "Type comment:"
      %br/
      .container.align-items-center
        = f.submit 'Print', class: "btn btn-success btn-sm btn-block"
    .col-auto-other
      = f.text_area :text
  %br/
  .row
    .col-auto
      = recaptcha_tags(theme: :light, ajax: :true)#, size: :compact)
