= form_for @wallpaper do |f|
  %h4
    .row
      .col-auto
        = f.label :title, 'Image name:'
    .row
      .col-auto
        = f.text_field :title
    .row
      .col-auto
        = f.label :category, 'Category: '
    .row
      .col-auto
        = f.collection_select :category_id, @categories, :id, :name
    %br/
    .row
      .col-auto
        = f.submit 'Save', class: "btn btn-success"