= form_for @wallpaper do |f|
  %h4
    .row
      .col-auto
        = f.label :title, 'Image name:'
    .row
      .col-auto
        = f.text_field :title
    .row
      .col-auto
        = f.label :category, 'Category: '
    .row
      .col-auto
        = f.collection_select :category_id, @categories, :id, :name
    %br/
    .row
      .col-auto
        .card{style: "width: 20rem;"}
          .card-body
            .row
              .col-auto
                = f.label :image, 'Local file:', class: "btn disabled btn-primary"
            .row
              .col-auto
                = f.file_field :image, class: "btn btn-sm btn-secondary"
                = f.hidden_field :image_cache
      .col-auto.other
        %br/
        .btn.btn-primary.disabled
          Choose
          %br/
          one of
      .col-auto.other
        .card{style: "width: 20rem;"}
          .card-body
            .row
              .col-auto
                = f.label :remote_image_url, "Link to image URL:", class: "btn disabled btn-primary"
            .row
              .col-auto
                = f.text_field :remote_image_url
    %br/
    .row
      .col-auto
        = f.submit 'Save', class: "btn btn-success"

/ = button_to "local" do type = 'local' end
/ = button_to "url" do type = 'url' end
/ - if type == 'local'
/ - if type == 'url'
