<%= form_with model: @wallpaper do |f| %>
  <div class="row">
    <div class="col-xs-2"><%= f.label :"image name:" %></div>
    <div class="col-xs-10"><%= f.text_field :title %></div>
  </div>
  <div class="row">
    <div class="col-xs-2"><%= f.label :"category: "%></div>
    <div class="col-xs-10"><%= f.text_field :category %></div>
  </div>
  <div class="row">
    <div class="col-xs-2"><%= f.label :"image: " %></div>
    <div class="col-xs-10"><%= f.file_field :image %></div>
  </div>
  <div class="row">
  <div class="col-xs-12"><%= f.submit %></div>
  </div>
<% end %>