<!DOCTYPE html>
<html>
  <head>
    <link href="app/assets/stylesheets/wallpapers.scss" rel="stylesheet" type="text/css">
  </head>
  <body>
    <table>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Image</th>
        <th colspan="3"></th>
      </tr>
      <% @wallpapers.each do |wallpaper| %>
        <tr>
          <td><a class="btn btn-info" disabled><%= wallpaper.category.name %><a/></td>
          
          <td><%= link_to(image_tag(wallpaper.image.thumb.url, alt: 'image'),
          wallpaper.image.url, target: '_blank') %></td>
          <td><%= link_to 'View', wallpaper_path(wallpaper), class: "btn btn-default" %></td>
          <td><%= link_to 'Edit', edit_wallpaper_path(wallpaper), class: "btn btn-default" %></td>
          <td><%= link_to 'Destroy', wallpaper_path(wallpaper), class: "btn btn-default", method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </table>
  </body>
</html>