%wp_info_container.align-items-center
  .row
    %nav_container.btn-group-sm.justify-content-between
      - if request.referer && request.referer != request.original_url
        = link_to 'Back', request.referrer, class: "btn btn-secondary", id: 'back'
      - else
        = link_to 'Back', wallpapers_path, class: "btn btn-secondary", id: 'back'
      - if @wallpaper.category
        = link_to "Watch category: #{@wallpaper.category.name}", category_path(@wallpaper.category), class: "btn btn-info"
      - else
        %button.btn.btn-info.btn-block.disabled
          Uncategorized
  .row
    %wallpaper_container.btn
      = link_to image_tag(@wallpaper.image.thumb.url, alt: 'image'), @wallpaper.image.url, target: '_blank'
  .row
    %likes_container.btn.disabled{"aria-label" => "Available actions", role: "group"}
      Likes:
      %lcount
        = @wallpaper.likes_count
      - if exist_like?(@wallpaper)
        = link_to 'Unlike', new_wallpaper_like_path(@wallpaper), class: "btn btn-secondary", remote: true, id: 'like'
      - else
        = link_to 'Like', new_wallpaper_like_path(@wallpaper), class: "btn btn-success", remote: true, id: 'like'
= render 'comments/form' if current_user.present? || current_admin_user.present?
= render @wallpaper.comments.order('created_at desc')
