= form_for @wallpaper do |f|
  .row
    %table
      %tbody
        %tr
          %td
            = f.label :title, 'Image name:'
          %td
            = f.text_field :title
        %tr
          %td
            = f.label :category, 'Category: '
          %td
            = f.collection_select :category_id, @categories, :id, :name
        %tr
          %td
            = f.label :image, 'Local file:'
          %td
            = f.file_field :image
            = f.hidden_field :image_cache
        %tr
          %td{ colspan: '2' }
            %span Choose one of
        %tr
          %td
            = f.label :remote_image_url, 'Image-link URL:'
          %td
            = f.text_field :remote_image_url
  .actions
    = f.submit 'Save', class: "button"
    = link_to 'Back', admin_wallpapers_path, class: "button"
