.user_info_block
  .row
    .col-xs-2
      = link_to 'Delete account', user_path(@user), class: "btn btn-danger", method: :delete,
      data: { confirm: 'Do you really want to delete your own account?'}
  .row
    .col-xs-2
      %a.btn.btn-success.btn-block.disabled Email:
    .col-xs-3
      %a.btn.btn-primary.btn-block.disabled
        = @user.email
  %br/
  .row
    .col-xs-2
      %a.btn.btn-success.btn-block.disabled Nickname:
    .col-xs-3
      %a.btn.btn-default.btn-block.disabled
        = @user.nickname
  %br/
  .row
    .col-xs-3
      %a.btn.btn-success.btn-block.disabled Avatar:
    .col-xs-3
      %a.btn.btn-default.disabled
        = image_tag(@user.avatar.url, alt: 'avatar', target: '_blank') if @user.avatar?
  .row
  %br/
  .row
    = link_to 'edit', edit_user_path(@user), class: "btn btn-primary"

%br/
.subscriptions_block
  .row
    - @user.subscriptions.each do |subs|
      .row
        %a.btn.btn-success.disabled
          .col-xs-12
            #{ subs.category.name } - last updates
      .row
        - subs.category.wallpapers.last(5).reverse.each do |wp|
          = link_to(image_tag(wp.image.thumb.url), wallpaper_path(wp), class: "btn btn-default")

