.user_info_block
  .user_bar_menu.btn-toolbar.justify-content-between{ "aria-label": "Main site toolbar", role: "toolbar" }
    .btn-group
    .btn-group
      = link_to 'Profile settings', edit_user_path(@user), class: "btn btn-warning btn-sm"
      = link_to 'Delete account', user_path(@user), class: "btn btn-danger btn-sm", method: :delete,
                                  data: { confirm: 'Do you really want to delete your own account?'}
  .container.align-items-center
    .row
      .col-auto
        .card{ style: "width: 102px;" }
          - if @user.avatar?
            = image_tag(@user.avatar.url, alt: 'avatar')
          - else
            = image_tag("avatar_default.jpg", alt: "avatar")
          %button.btn.btn-info.btn-sm.btn-block.disabled
            Avatar:
          /.card-body
      .col-auto.other
        %button.btn.btn-info.btn-sm.btn-block.disabled
          Email:
          = @user.email
        %button.btn.btn-info.btn-sm.btn-block.disabled
          Nickname:
          - if @user.nickname
            = @user.nickname
          - else
            user
            = @user.id
    /.row
    /  .col-auto
    /  .col-auto.other
%br/
.subscriptions_block
  .btn-toolbar{ "aria-label": "Subscriptions", role: "toolbar" }
    %alert.alert.alert-dark{ role: "alert", style: "width: 100%;" }
      Your subscriptions:
  - @user.subscriptions.each do |subs|
    .btn-group.ml-2.mr-2.mt-2.mb-2{ "aria-label" => "recent wallpapers", role: "group"}
      .container.align-items-center
        .row
          %button.btn.btn-sm.btn-success.disabled.mb-2
            #{ subs.category.name } - last updates
        .row
          - subs.category.wallpapers.last(5).reverse.each do |wp|
            = link_to(image_tag(wp.image.thumb.url), wallpaper_path(wp), class: "btn btn-dark btn-sm mr-2")
