= form_for @category do |f|
  %h4
    .row
      .col-auto
        = f.label :name, 'Name:'
    .row
      .col-auto
        = f.text_field :name
    .row
      .col-auto
        = f.label :locked, 'Is category locked?'
      .col-auto
        = f.check_box :locked
    %br/
    .action
      .col-auto
        = f.submit 'Save', class: "btn btn-info"
        = link_to 'Back', admin_categories_path, class: "button"
