<%= form_with model: @category do |f| %>
  <div class="row">
    <div class="col-xs-2"><%= f.label :"category name:" %></div>
    <div class="col-xs-6"><%= f.text_field :name %></div>
    <br><%= f.hidden_field :user_id, value: current_user.id %>
    <%#= f.hidden_field :locked, value: false %>
  </div>
  <div class="row">
    <div class="col-xs-12"><%= f.submit %></div>
  </div>
<% end %>