.row
  .btn-group.flex-wrap.mb-2{'aria-label' => 'Available actions', role: 'group'}
    - if user?
      = link_to 'New category', new_category_path, { remote: true, "data-toggle": "modal",
                                                      "data-target": "#modal-window", id: 'new_ctg_btn',
                                                      class: "btn btn-info" }
    %button.btn.btn-secondary.dropdown{ id: 'empty_categories' }
      .dropdown-toggle{ "data-toggle": 'dropdown', "data-target": '#' }
        Empty categories
        %b.caret
      %ul.dropdown-menu
        - @e_categories.each do |e_cat|
          - unless e_cat.wallpapers.first
            .emp_cat.li
              = link_to e_cat.name, (category_path(e_cat))
.row.container-fluid
  - if Category.first
    - @categories.each_with_index do |category, index|
      - if category.wallpapers.first
        .btn-group.mb-2.mr-2{'aria-label' => "top #{index + 1} category", role: 'group'}
          %div.img-thumbnail
            = link_to(category_path(category)) do
              %img.img-fluid{ alt: 'cat_img_sample', src: category.wallpapers.sample.image.thumb.url }
              .caption
                = category.name

= paginate @categories, param_name: 'categories_page'

#modal-window.modal.hide.fade{"aria-hidden": "true", "aria-labelledby": "modal-windowLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
