%br/
%br/
.row
  %a.btn.btn-success.disabled
    Category: #{@category.name}
  - if current_user
    - if exist_subscription?(@category)
      = link_to 'Reject subscription', new_category_subscription_path(@category), class: "btn btn-default"
    - else
      = link_to 'Subscribe', new_category_subscription_path(@category), class: "btn btn-success"
  - if own?(@category)
    = link_to 'Edit Category name', edit_category_path(@category), class: "btn btn-warning"
    = link_to 'Delete category', category_path(@category), class: "btn btn-danger", method: :delete, |
      data: { confirm: 'Are you sure?' }
  = link_to 'Back', categories_path, class: "btn btn-default"
%br/
.row
  - @category.wallpapers.each do |wallpaper|
    = link_to image_tag(wallpaper.image.thumb.url)
    = link_to 'Comment', wallpaper_path(wallpaper), class: "btn btn-default"
    = link_to 'Edit', edit_wallpaper_path(wallpaper), class: "btn btn-default"
    %br/
    %br/
