<br><br>
<div class="row">
  <a class="btn btn-default btn-disabled">Category: <%= @category.name %><a/>
  <%= link_to 'Edit Category name', edit_category_path(@category), class: "btn btn-default" %>
  <%# TODO Replace in future%>
  <% if own?(@category) %>
    <%= link_to 'Delete category', category_path(@category), class: "btn btn-warning", method: :delete,
        data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
<div class="row">
  <% @category.wallpapers.each do |wallpaper| %>
    <%= link_to image_tag(wallpaper.image.thumb.url) %>
    <%= link_to 'View', wallpaper_path(wallpaper), class: "btn btn-default" %>
    <%= link_to 'Edit', edit_wallpaper_path(wallpaper), class: "btn btn-default" %>
    <br>
  <% end %>
</div>