.row
  .btn-group.ml-2.mr-2.mt-2.mb-2{"aria-label" => "Available actions", role: "group"}
    %button.btn.btn-success.disabled
      Category: #{@category.name}
    - if request.referer
      = link_to 'Back', request.referrer, class: "btn btn-secondary"
    - if current_user
      - if exist_subscription?(@category)
        = link_to 'Unfollow', new_category_subscription_path(@category), class: "btn btn-info", id: 'follow'
      - else
        = link_to 'Follow', new_category_subscription_path(@category), class: "btn btn-info", id: 'follow'
    - if own?(@category)
      = link_to 'Edit Category name', edit_category_path(@category), class: "btn btn-warning"
      = link_to 'Delete category', category_path(@category), class: "btn btn-danger", method: :delete, |
        data: { confirm: 'Are you sure?' }
- @category.wallpapers.each_with_index do |wallpaper, index|
  .btn-group.ml-2.mr-2.mt-2.mb-2{"aria-label" => "top #{index + 1} wallpapers", role: "group"}
    .container.align-items-center
      .row
        = link_to image_tag(wallpaper.image.thumb.url, alt: 'image'), wallpaper.image.url, class: "btn btn-secondary", target: '_blank'
      .row
        = link_to 'Comment', wallpaper_path(wallpaper), class: "btn btn-default"
        = link_to 'Edit', edit_wallpaper_path(wallpaper), class: "btn btn-default"
