%br/
%br/
.row
  %a.btn.btn-success.disabled
    Category: #{@category.name}
  = link_to 'Edit Category name', edit_category_path(@category), class: "btn btn-default"
  = link_to 'Back', categories_path, class: "btn btn-default"
  - if own?(@category)
    = link_to 'Delete category', category_path(@category), class: "btn btn-warning", method: :delete, |
      data: { confirm: 'Are you sure?' }
%br/
.row
  - @category.wallpapers.each do |wallpaper|
    = link_to image_tag(wallpaper.image.thumb.url)
    = link_to 'Comment', wallpaper_path(wallpaper), class: "btn btn-default"
    = link_to 'Edit', edit_wallpaper_path(wallpaper), class: "btn btn-default"
    %br/
    %br/
