.row
  .btn-group.mb-2{'aria-label' => 'Available actions', role: 'group'}
    %button.btn.btn-success.disabled
      Category: #{@category.name}
    - if request.referer && request.referer != request.original_url
      = link_to 'Back', request.referrer, class: 'btn btn-secondary', id: 'back'
    - else
      = link_to 'Back', categories_path, class: 'btn btn-secondary', id: 'back'
    - if current_user
      - if exist_subscription?(@category)
        = link_to (fa_icon 'bell-o'), new_category_subscription_path(@category), class: 'btn btn-danger', remote: true, id: 'follow'
      -else
        = link_to (fa_icon 'bell'), new_category_subscription_path(@category), class: 'btn btn-info', remote: true, id: 'follow'
    - if own?(@category)
      = link_to 'Edit Category name', edit_category_path(@category), class: 'btn btn-warning'
      = link_to 'Delete category', category_path(@category), class: 'btn btn-danger', method: :delete, |
        data: { confirm: 'Are you sure?' }
.row
  - @category.wallpapers.each do |wallpaper|
    .col-auto.p-0
      .container-fluid
        %div.img-thumbnail
          = link_to wallpaper.image.url, target: '_blank' do
            %img.img-fluid{ alt: 'category wallpaper', src: wallpaper.image.thumb.url }
            .caption.align-content-space-between
              = link_to 'Correct', edit_wallpaper_path(wallpaper)
              %button.btn.btn-sm.disabled
                = wallpaper.title
              = link_to 'Comment', wallpaper_path(wallpaper), class: 'btn btn-sm btn-success'
