!!!
%html
  %head
    %meta{ charset: "utf-8" }/
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{ src: "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" }
    %meta{ name: :viewport, content: 'width=device-width, initial-scale=0.8, shrink-to-fit=no' }
  %header
    .center_block
      /%h1
      = I18n.t("header.wallpapers_gallery")
    .bar_menu.btn-toolbar.justify-content-between{ "aria-label": "Main site toolbar", role: "toolbar" }
      .nav_bar_menu.btn-group
        /%button.btn.btn-outline-danger.disabled
        /  Root_page
        = link_to I18n.t('header.main_bar.categories'), categories_path, class: "btn btn-outline-dark"
        %button.btn.btn-secondary.dropdown{ id: 'top5categories' }
          .dropdown-toggle{ "data-toggle": 'dropdown', "data-target": '#' }
            = I18n.t("header.main_bar.top_categories")
            %b.caret
          %ul.dropdown-menu
            - @top_categories.each do |cat|
              %li
                = link_to "#{cat.name}", category_path(cat), class: "btn btn-outline-dark btn-sm btn-block"
        /%button.btn.btn-outline-danger.disabled
        /  top_images
        = link_to I18n.t('header.main_bar.upload'), new_wallpaper_path, class: "btn btn-outline-dark"
        /%button.btn.btn-outline-danger.disabled
        /  recent_comments
        = link_to I18n.t('header.main_bar.wallpapers'), wallpapers_path, class: "btn btn-outline-dark"
        %button.btn.btn-secondary.dropdown{ id: 'localization' }
          .dropdown-toggle{ "data-toggle": "dropdown", "data-target": "#" }
            = I18n.t("header.localization")
            %b.caret
          %ul.dropdown-menu
            %li
              = button_to "En", {locale: :en}, method: :get, class: "btn btn-outline-dark btn-sm btn-block"
              = button_to "Ru", {locale: :ru}, method: :get, class: "btn btn-outline-dark btn-sm btn-block"
      .auth_bar_menu.btn-group
        - if user_signed_in?
          %button.btn.btn-outline-dark.disabled
            = I18n.t("header.main_page_welcome", email: current_user.email)
          = link_to I18n.t('active_admin.devise.profile'), user_index_path, class: "btn btn-secondary"
          = link_to I18n.t('active_admin.devise.links.sign_out'), destroy_user_session_path, method: :delete, class: "btn btn-info"
        - else
          = link_to I18n.t('active_admin.devise.links.sign_up'), new_user_registration_path, class: "btn btn-outline-dark", id: 'sign_up'
          %button.btn-outline-dark{ id: "#sign_in_modal", "data-target": "#sign_in_modal", "data-toggle": "modal", type: "button" }
            = I18n.t('active_admin.devise.links.sign_in')
          = link_to "#{I18n.t('active_admin.devise.links.sign_in_with')}Google", user_google_oauth2_omniauth_authorize_path, class: "btn btn-outline-dark"

    / modal windows
    #sign_in_modal.modal.fade{ "aria-hidden": "true", role: "dialog", tabindex: "-1" }
      .modal-dialog.modal-dialog-centered{ role: "document" }
        .modal-content
          .modal-header
            .col-auto.mr-auto
              .btn.btn-outline-primary.disabled
                Authorization
            .col-auto
              %button.close{ "aria-label": "Close", "data-dismiss": "modal", type: "button" }
                ×
          .modal-body
            = render "devise/sessions/modal"
  %body
    %aside
      %strong Recent comments:
      - @last_comments.each do |comm|
        .recent_comment_block
          %strong
            - if comm.commentable.nickname?
              = comm.commentable.nickname
            - else
              = comm.commentable.nickname
              = comm.commentable.id
          prints at:
          = image_tag(comm.wallpaper.image.mini_thumb.url, alt: 'image')
          %br/
          = comm.text.truncate(40, omission: '...')
          = link_to '> watch full', wallpaper_path(comm.wallpaper)
          %br/

      = paginate @last_comments, param_name: 'comments_page'
    /alert windows
    %main
      .btn-toolbar.mt-1{ "aria-label": "Notice toolbar", role: "notice alerts" }
        .btn.btn-block.btn-sm
          - flash.each do |key, value|
            %div{class: "alert alert-#{key} alert-dismissible fade show", role: "alert" }
              %strong
                = value
              %button.close{ "aria-label": "Close", "data-dismiss": "alert", type: "button" }
                %span{ "aria-hidden": "true" } ×

      .content
        = yield
    %footer
