!!!
%html
  %head
    %meta{charset: "utf-8"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %header
      .center_block
        %h1 Wallpapers gallery
      .login_block
        - if user_signed_in?
          %span
            Welcome, #{ current_user.email }
          %br/
          = link_to 'Профиль', user_index_path, class: "btn btn-default"
          = link_to 'Выйти', destroy_user_session_path, method: :delete
        - else
          = link_to 'Войти', new_user_session_path
          \/ #{link_to 'Зарегистрироваться', new_user_registration_path}
    .row
      = link_to 'Categories', categories_path , class: "btn btn-default"
      = link_to 'Upload wallpaper', new_wallpaper_path , class: "btn btn-default"
      = link_to 'Gallery', wallpapers_path , class: "btn btn-default"
    %br/
    = yield
    %footer
      %p.notice
        = notice
      %p.alert
        = alert
